@import url('https://fonts.googleapis.com/css?family=Albert%20Sans:700|Albert%20Sans:400');

:root {
  --text-and-general: #050709;
  --main-background: rgb(242, 241, 241);
  --element-background: #ffffff;
  --primary: #4f84ba;
  --secondary: #b0c4d9;
  --accent: #649bd2;
  --red: rgb(211, 45, 30);

  --general-border-radius: 12px;

  --shadow-color: 0deg 1% 76%;
  --shadow-elevation-low:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.17),
    0.7px 0.7px 1.2px -1.7px hsl(var(--shadow-color) / 0.25);
  --shadow-elevation-medium:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.16),
    1px 1.1px 1.9px -0.8px hsl(var(--shadow-color) / 0.21),
    3.4px 3.5px 6.1px -1.7px hsl(var(--shadow-color) / 0.26);
  --shadow-elevation-high:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.15),
    1.2px 1.2px 2.1px -0.3px hsl(var(--shadow-color) / 0.17),
    2.2px 2.3px 4px -0.7px hsl(var(--shadow-color) / 0.19),
    3.9px 4.1px 7px -1px hsl(var(--shadow-color) / 0.22),
    6.8px 7px 12.2px -1.4px hsl(var(--shadow-color) / 0.24),
    11.3px 11.7px 20.3px -1.7px hsl(var(--shadow-color) / 0.26);

}

* {
  color: var(--text-and-general);
}

.preview-container,
.side-buttons-container,
.section {
  box-shadow: var(--shadow-elevation-medium);
}


body {
  background-color: var(--main-background);
}

.side-buttons-container {
  background-color: var(--element-background);
}

.side-buttons-container button {
  background-color: var(--secondary);
}

.section {
  background-color: var(--element-background);
}

input, textarea {
  color: var(--text);
  background-color: var(--main-background);
}

.delete-button {
  color: var(--red);
  border: 2px solid var(--red);
  /* background-color: var(--red); */
}
.delete-button:hover {
  color: white;
  border: 2px solid var(--red);
  background-color: var(--red);
}
.delete-button:active {
  filter: brightness(85%);
}

.preview-container {
  background-color: var(--element-background);
}

.entry-card {
  border-color: var(--main-background);
}



.add-entry-button {
  border: 4px solid var(--main-background);

}
.add-entry-button:hover {
  filter: brightness(97%);
}

.add-entry-button:active {
  filter: brightness(94%);
}

form button {
  font-size: 20px;
  border: 2px solid var(--main-background);
}

form button:first-of-type {
  color: var(--main-background);
  background-color: var(--accent);
}

.preview-container>.personal-section {
  background-color: var(--primary);
}

.preview-container>.personal-section h1,
.preview-container>.personal-section p {
color: var(--element-background);
}



















body {
  font-family: 'Albert Sans';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Albert Sans';
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 1.8rem;
  /* 50.56px */
}

h3 {
  font-size: 1.1rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}


body {
  /* font-size: 20px; */
  font-size: 1.2rem;
}

input, textarea {
  font-size: 1.2px;
}

.section > button {
  font-size: 1.8rem;
  font-weight: 600;
}

.input-container label {
    font-weight: 600;
}

.delete-button {
  font-weight: 600;
  font-size: 1.1rem;
}

.entry-container .right-side,
.entry-container .left-side
{
    font-size: 1.1rem;
}