form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    text-align: left;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.date-fields-group {
    display: flex;
    flex-direction: row;
}

.form-buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}